.account-form {
    width: 50%;
    align-self: center;
    margin-top: 5%;
}
.title{
  font-size: 230%;
  margin-left: 0;
  margin-bottom: 5%;
}
.row-item {
  margin-bottom: 5%;
}
.btn-1 {
  margin: 5% 10% 0 60%;
}
.btn-2 {
  margin-top: 45%;
}
.account-buttons {
  display: flex;
}