.activeTable {
  display: block !important;
}

.create-article-input:focus {
  border-color: green !important;
}

.create-article-input {
  font-size: 14px !important;
}

.title-add-new-article:active {
  border: #2684ff 2px solid !important;
}

.title-add-new-article:focus {
  border: #2684ff 2px solid !important;
}

.title-input {
  font-weight: bold
}