.button-area {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0 !important;
  margin-top: 3%;
}

.btn-backToLogin {
  background: black;
  width: 45% !important;
  margin-top: 0 !important;
}

.btn-backToLogin :active {
  background: black !important;
}

.btn-backToLogin :focus {
  background: black !important;
}

.btn-backToLogin :visited {
  background: black !important;
}


.btn-submitLogin {
  background: green !important;
  width: 45% !important;
  margin-top: 0 !important;
}