.job-title {
  background: #45b649 !important;
  color: white;
  width: 150px !important;
  font-weight: bold;
}

.jobtabactive {
  background: #45b649 !important;
  color: white !important;
  display: flex;
  justify-content: center;
}

.job-tab {
  display: flex !important;
  justify-content: center !important;
}

.job-tabs .nav-link {
  display: flex;
  justify-content: center;
}