.btn-login {
  background: green !important;
}

.btn-login:focus {
  background: rgb(1, 194, 1) !important;
}

.btn-login:active {
  background: rgb(1, 194, 1) !important;
}
.btn-login:hover {
  background: rgb(1, 194, 1) !important;
}
.form-login {
  width: 30%;
  background-color: white;
  padding: 2%;
  border-radius: 3%;
  align-self: center;
}
@media screen and (max-width: 1024px) {
  .form-login {
    width: 70%;
  }
}
