.action {
  display: flex;
  justify-content: center;
}
.button-delete {
  background: #f12711 !important;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left,#f12711 #f5af19, #f12711) !important;  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #f5af19, #f12711) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border: none !important;

}
.button-view {
  background: #1488CC !important;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2B32B2, #1488CC) !important;  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2B32B2, #1488CC) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border: none !important;
}
@media only screen and (max-width: 768px){
  .action{
      flex-direction: column;
  }
  .button-first  {
    font-size: 50% !important;
  }
}