.table-test {
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;
}



.table-test table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table-test td,
th {
  border: 1px solid black;
  text-align: left;
  padding: 15px;
}

.table-test tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

.action-column {
  display: flex;
  justify-content: center;
}