.card-detail{
  background: url(/admin/img/user-background.jpg);
  background-size: cover;
  align-items: center;
}
.information-form{
  background: rgba(12, 12, 12, 0.52) !important;
  width: 55%;
  color: white;
  margin: 5% 0 5% 0 ;
}
.information-form span{
  color: white;
}
.information-form hr{
  background: white;
}
.profile-avatar {
  widows: 80%;
  height: 85%;
}
.tabactive {
  background:green !important;
  color: white !important;
}
.tab-edit{
  display: flex !important;
  justify-content: center !important;
}