.list-unstyled li a {
    display: flex;
    vertical-align: middle;
    text-align: center;
   justify-content: center;
  }
  .footer-social a {
    margin-left: 20px;
   vertical-align: middle;
   text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  }
  