
 
 
 #myModallabel {
  z-index: auto;
  font-size: 45px;
 }
 #abc {
    text-align:center;
    width: 100%;
 } 
 #section-describe {
   padding-top: 3rem !important;
 }
 @media (max-width: 767.98px){
 .align-items-center {
    margin-bottom: 1rem !important;
 }
 .show-line {
   display: none;
 }
 .show-line-2 {
   display: absolute;
 }
 }
 .icon-facebook, .icon-twitter, .icon-instagram, .icon-skype{
  font-size: 23px;
 }
 @media (min-width: 768px){
 .show-line-2 {
   display: none;
 }
}
#view-mobile {
  margin-bottom: 0.5rem !important;
}
 