.password-input {
  display: flex;
}
.password-input-title {
  margin-top:5px;
  margin-right:20px;
}
.username-title {
  margin-right: 15px;
  margin-top: 2%;
}
.input-first {
  margin-left: 12.7%;
    width: 80%;
}
